.card_container{
    height: 85px;
    width: 300px;
    background-color: #152C40;
    border-radius: 10px;
    margin-left: 40px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #7C3AED;
    cursor: pointer;
    margin-bottom: 10px;
}
.card_wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;
    margin: 35px 145px 0px 105px;
}
.card_container h3{
    color: #6998AB;
    font-weight: 500;
}
.card_container p{
    color: #ADCBD7;
    font-size: 15px;
    margin-top: 15px;
}
.title{
    display: flex;
    justify-content: space-between;
    color: #ADCBD7;
}
.title h2{
    font-size: 12px;
    font-weight: 200;

}
.card_contain{
    display: flex;
}
@media screen and (max-width:2000px){
    .card_wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 5px;
        margin: 35px 50px 0px 50px;
    }
}
@media screen and (max-width:1200px){
    .card_wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 5px;
        margin: 35px 50px 0px 50px;
    }
}
@media screen and (max-width:780px){
    .card_wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 5px;
        margin: 15px 50px 0px 15px;
    }
}
@media screen and (max-width:750px){
    .card_wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
        margin: 15px 50px 0px 15px;
    }
}
@media screen and (max-width:500px){
    .profile_container h1{
        font-size: 30px;
    }
    .add{
        left: 80%;
    }
}